# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\meln1\OneDrive - bbw.ch\_dev\ws\IdeaProjectsLJ4\üK 223\jeers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
